@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<style>
    body {
        background-color: lemonchiffon;
    }
</style>
<address>
    Plot 21, Omorinre Johnson,<br/>

    Lekki Phase 1,<br/>
    Lagos - Nigeria.<br />
    Phone: +2348154866854</br>
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@agromart.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@agromart.com</a>
</address>